@import '../../../styles/colors';

.dropbtn {
  background-color: $bgColorLight;
  color: white;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $bgColorLight;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  align-items: center;
  padding: 2px;
}

.dropdown-content .btn {
  display: inline;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
