@import '../../../styles/colors';
@import '../item/item.component.scss';
.tv-item {
  position: relative;
  display: block;
  width: 290px;
  min-height: 325px;
  border-radius: 5px;
  background-color: $bgColorLight;
  border: 1px solid $lightGray;

  &-image {
    img {
      width: 100%;
      border-radius: 5px;
      height: 330px;
      object-fit: cover;
    }
  }

  .tv-item-rating {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: $bgColorLight;
    border-radius: 5px;
    padding: 5px 10px;

    .app-icon {
      margin-right: 5px;
      color: #d4af37;
    }
  }

  .tv-title-name {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0.5rem;
    height: 30px;
  }
}
